<html>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content=" user-scalable=no, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="Calculon 0x00111111@gmail.com">
    <head>
        <link rel="stylesheet" type="text/css" href="css/mclassical.css">
        <script>var log=console.log.bind(console);</script>
        <script type="text/javascript" src="http://player.youku.com/jsapi">
</script>
        <script src='js/mclassical-base.js?version=<%=version%>'></script>
        <script src='js/mclassical-pano.js?version=<%=version%>'></script>
        <title>古典音乐放大镜</title>
    </head>
<body>
        <span id="__getwidth"></span>
        <div id="head">
            <div id="logo">
                <div id="search-wrap" class="start">
                    <input id="search">
                    <button id="btn-search"><%=language.search%></button>
                </div>
                <div id="result-wrap">
                    <div id="result-stick"></div>
                    <div id="result">
                        <div class="tabs">
                            <div data-type="scores" class="tab"><%=language.scores%></div>
                            <div data-type="videos" class="tab"><%=language.videos%></div>
                            <div data-type="audios" class="tab selected"><%=language.audios%></div>
                        </div>
                        <div id="result-content">
                        </div>
                    </div>
                </div>
                <div id="introduction-wrap">
                    <div id="introduction-stick">
                    </div>
                    <div id="introduction">
                        <div id="introduction-title">dsf</div>
                        <div id="introduction-content">
                            introduction
                        </div>
                    </div>
                </div>
                <div class="other-wrap volunteer">
                    <div class="other-stick">
                        <%=language.volunteer%>
                    </div>
                </div>
                <div class="other-wrap about">
                    <div class="other-stick">
                        <%=language.about%>
                    </div>
                </div>
                <div class="other-wrap help">
                    <div class="other-stick">
                        <%=language.help%>
                    </div>
                </div>
                <div id="magnifier">
                    <div id="stick">
                    </div>
                </div>
            </div>
        </div>

        <div id="pano">
            <div id="container">
                <div id="camera">
                </div>
            </div>
        </div>
        <div id="music-details">
             <div id="music-wrap">
                 <div id="music-album">
                     <div id="music-album-full"></div>
                 </div>
                 <div id="music-info-wrap">
                     <div id="music-info">
                         <div id="music-songname">songname</div>
                         <div id="music-singer">singer</div>
                         <div id="music-albumname">albumname</div>
                     </div>
                     <div id="music-more"><%=language.more%></div>
                 </div>
                 <div class="audiojsZ">
                    <audio id="audio"></audio>
                    <div class="play-pauseZ">
                      <p class="playZ"></p>
                      <p class="pauseZ"></p>
                      <p class="loadingZ"></p>
                      <p class="errorZ"></p>
                    </div>
                    <div class="scrubberZ">
                      <div class="progressZ"></div>
                      <div class="loadedZ"></div>
                    </div>
                    <div class="timeZ" style="display:none">
                      <em class="playedZ">00:00</em>/<strong class="durationZ">00:00</strong>
                    </div>
                    <div class="error-messageZ"></div>
                 </div>
             </div>
        </div>

</body>
<script src="/js/template-native.js"></script>
<script id="template-result" type="text/html">
    <#if(
    (scores==undefined||(scores&&scores.length==0))&&
    (videos==undefined||(videos&&videos.length==0))&&
    (audios==undefined||(audios&&audios.length==0))){#>
        <%=language.noResult%>
    <#}#>
    <#for(var i in scores){#>
        <a class="result-score" target="_Blank" href="<#=scores[i].link#>" data-source="<#=scores[i].source#>"><#=scores[i].title#></a>
    <#}#>
    <#for(var i in videos){#>
        <div class="result-video" data-id="<#=videos[i].id#>" target="_Blank" data-title="<#=videos[i].title#>" data-source="<#=videos[i].source#>" data-link="<#=videos[i].link#>"><img class="result-video-img" width="150"src="<#=videos[i].thumbnail#>"><div class="video-info"><#=videos[i].title#></div></div>
    <#}#>
    <#for(var i in audios){#>
        <a class="result-audio"  target="_Blank" data-id="<#=audios[i].songid#>" data-source="<#=audios[i].source#>'>
            <div style="display:-webkit-box;-webkit-box-orient:horizontal;">
                <img class="result-audio-img" width="150" height="150" src="<#=audios[i].albumpic_big#>">
                <div class="audio-info">
                    <div><#=audios[i].songname#></div>
                    <div><#=audios[i].albumname#></div>
                    <div><#=audios[i].singername#></div>
                </div>
            </div>
                 <div class="audiojsZ">
                    <audio data-url="<#=audios[i].m4a#>" preload="false"></audio>
                    <div class="play-pauseZ">
                      <p class="playZ"></p>
                      <p class="pauseZ"></p>
                      <p class="loadingZ"></p>
                      <p class="errorZ"></p>
                    </div>
                    <div class="scrubberZ inresult">
                      <div class="progressZ"></div>
                      <div class="loadedZ"></div>
                    </div>
                    <div class="timeZ" style="display:none">
                      <em class="playedZ">00:00</em>/<strong class="durationZ">00:00</strong>
                    </div>
                    <div class="error-messageZ"></div>
                 </div>
        </a>
    <#}#>
</script>
<script src="js/audio.min.js"></script>
<script id="template-youku" type="text/html">
    <div id="youkuplayer<#=youku_id#>" style="height:<#=height#>px;width:100%;display:block;"></div>
</script>
<script>
        template.config('openTag','<#');
        template.config('closeTag','#>');

        var height=window.innerHeight;
        var width=window.innerWidth;
        $('#result').width(width-30);
        $('#result').height(height-100);
        $('#introduction').width(width-30);
        $('#introduction').height(height-100);
        $('#search').width(width-53);

        $('#search-wrap').removeClass('start');
        $('#search-wrap').addClass('show');

        var stopSearchAnimation=false;
        function getTextWidth(str,fontsize) {
            var d = document.getElementById('__getwidth');
            d.style.fontSize=fontsize;
            d.innerHTML = str;
            return d.offsetWidth;
        }

        var autoTyping=[
            'The magnifier of classical music'
        ];

        function searchPost(){
            for(var i in audios){
                audios[i].pause();
            }
            audios=[];
            $('#result-content').html('<div id="result-loading-wrap"><div id="result-loading"></div></div>');
            $.ajax({
                url:'/search',
                type:'post',
                data:{
                    type:$('.tab.selected').attr('data-type'),
                    keyword:$('#search').val()
                },
                timeout:6000,
                success:function(res){
                    if(res.code!=0){
                        alert(res.msg);
                        return;
                    }
                    $('#result-content').html(template('template-result',res));
                    if($('.tab.selected').attr('data-type')=='audios'){
                        $('#result-content').find('audio').each(function(){
                            audios[$(this).attr('data-url')]=audiojs.create($(this)[0], {
                                preload:false,
                                css: false,
                                createPlayer: {
                                  markup: false,
                                  playPauseClass: 'play-pauseZ',
                                  scrubberClass: 'scrubberZ',
                                  progressClass: 'progressZ',
                                  loaderClass: 'loadedZ',
                                  timeClass: 'timeZ',
                                  durationClass: 'durationZ',
                                  playedClass: 'playedZ',
                                  errorMessageClass: 'error-messageZ',
                                  playingClass: 'playingZ',
                                  loadingClass: 'loadingZ',
                                  errorClass: 'errorZ'
                                }
                            });
                        });
                    }
                },
                error:function(){
                    $('#result-content').html('<%=language.busy%>');
                }
            });
        }

        var audios={};

        function search(keyword){
            $('#search').blur();
            $('#search-wrap').addClass('show');
            if($('#result-wrap').hasClass('show')){
                $('#result-wrap').removeClass('show');
                setTimeout(function(){
                        $('#result-wrap').addClass('show');
                },500);
            }else{
                $('#result-wrap').addClass('show')
            }
            searchPost();
        }

        var inputstr='';
        function changeInput(inputstr){
            return function(){
                if(!stopSearchAnimation){
                    $('#search').val(inputstr);
                }
            }
        }

        var delay=0;
        for(var i in autoTyping){
            $('#search').val('');
            inputstr='';
            for(var j in autoTyping[i]){
                inputstr+=autoTyping[i][j];
                delay+=100;
                setTimeout(changeInput(inputstr),delay);
            }
        }


        var QQMusicUrls=JSON.parse('<%-JSON.stringify(QQMusicUrls)%>');

        var Musics={};
        var ri=0;
        var rj=-70;
        var zindex=0;
        for(var i in QQMusicUrls){
            $.get(QQMusicUrls[i],function(res){
                res=JSON.parse(res);
                if(res.showapi_res_body&&res.showapi_res_body.pagebean&&res.showapi_res_body.pagebean.contentlist){
                    var clist=res.showapi_res_body.pagebean.contentlist;
                    for(var j in clist){
                        if(j>14)break;
                        Musics['QQMusic_'+clist[j].songid]={};
                        Musics['QQMusic_'+clist[j].songid].songid=urldecode(clist[j].songid);
                        Musics['QQMusic_'+clist[j].songid].songname=urldecode(clist[j].songname);
                        Musics['QQMusic_'+clist[j].songid].singer=urldecode(clist[j].singername);
                        Musics['QQMusic_'+clist[j].songid].albumname=urldecode(clist[j].albumname);
                        //Musics['QQMusic_'+clist[j].songid].audio_url=clist[j].m4a;
                        Musics['QQMusic_'+clist[j].songid].audio_url="http://tsmusic24.tc.qq.com/"+clist[j].songid+".mp3";
                        Musics['QQMusic_'+clist[j].songid].picture_small=clist[j].albumpic_small;
                        Musics['QQMusic_'+clist[j].songid].picture_big=clist[j].albumpic_big;

                        Musics['QQMusic_'+clist[j].songid].rx=rj;
                        Musics['QQMusic_'+clist[j].songid].ry=(ri+rj/80*360)%360;
                        Musics['QQMusic_'+clist[j].songid].zindex=++zindex;

                        pano.loadMusic(Musics['QQMusic_'+clist[j].songid]);
                        if(rj>=70){
                            rj=-70;
                            ri+=60;
                        }else{
                            rj+=10;
                        }
                    }
                }else{
                    console.log('error');
                }

            });
        }

        $('#search').focus(function(){
            $(this).addClass('focus');
        });

        $('#search').blur(function(){
            $(this).removeClass('focus');
        });

        function nothing(e){
            e.stopPropagation();
        }
        function moreInfo(e){
            e.stopPropagation();
            e.preventDefault();
            stopSearchAnimation=true;
            $('#search').val($('#music-songname').text());
            search($('#music-songname').text());
            $('#music-details').removeClass('show');
        }
        function hideDetails(){
            $('#music-details').removeClass('show');
        }
        function clearSearch(){
            if(stopSearchAnimation==false){
                $('#search').val('');
                stopSearchAnimation=true;
            }
            if($('#search').val()==autoTyping[0]){
                $('#search').val('');
            }
        }
        $('#search').on('focus',function(){
            $('#search-wrap').addClass('showbtn');
        });
        $('#search').on('keypress',function(e){
             var keyCode = null;
             if(e.which)
                 keyCode = e.which;
             else if(e.keyCode) 
                 keyCode = e.keyCode;
                 
             if(keyCode == 13) 
             {
                 search($(this).val());
                 return false;
             }
        });

        function switchTab(){
            if(contentScrolling)return;
            $('.tab').removeClass('selected');
            $(this).addClass('selected');
            searchPost();
        }
        function hideResults(){
            $('#result-wrap').removeClass('show');
        }
        function showOthers(){
            var delay=0;
            $('.other-wrap').each(function(){
                var self=$(this);
                setTimeout(function(){
                    self.addClass('show');
                },delay);
                delay+=50;
            });
            $('#result-wrap').removeClass('show');
        }
        function hideOthers(){
             var delay=0;
             $('.other-wrap').each(function(){
                 var self=$(this);
                 setTimeout(function(){
                     self.removeClass('show');
                 },delay);
                 delay+=50;
             });
        }
        function magnifierClick(){
            $('#search').blur();
            if($('#search-wrap').hasClass('show')){
                $('#search-wrap').removeClass('show');
                $('#result-wrap').removeClass('show');
                $('#introduction-wrap').removeClass('show');
                hideOthers();
            }else{
                $('#search-wrap').addClass('show');
                showOthers();
            }
        }

        function hideSearch(){
            $('#search-wrap').removeClass('show');
            $('#search-wrap').removeClass('start');
        }

        function showAbout(){
            hideDetails();
            hideOthers();
            $('#introduction-title').text('<%-language.about%>');
            $('#introduction-wrap').addClass('show');
            $('#introduction-content').html('<%-language.about_content%>');
        }
        function showVolunteer(){
            hideDetails();
            hideOthers();
            $('#introduction-title').text('<%-language.volunteer%>');
            $('#introduction-wrap').addClass('show');
            $('#introduction-content').html('<%-language.volunteer_content%>');
        }
        function hideIntroduction(){
            $('#introduction-wrap').removeClass('show');
        }
        function showHelp(){
            hideDetails();
            hideOthers();
            $('#introduction-title').text('<%-language.help%>');
            $('#introduction-wrap').addClass('show');
            $('#introduction-content').html('<%-language.help_content%>');
        }

        function hideAll(){
            hideOthers();
            hideSearch();
            hideIntroduction();
            hideDetails();
        }

        function showIframe(){
            stopBackgroundMusic();
            if($(this).hasClass('inited')){
                return;
            }
            if(videoDom){
                videoDom.html(videoHtml);
            }
            $(this).addClass('inited');
            hideDetails();
            hideOthers();
            var self=$(this);
            videoDom=self;
            videoHtml=self.html();
            self.html(template('template-youku',{youku_id:self.attr('data-id'),height:self.height()-20,width:280}));
            YKU.Player('youkuplayer'+self.attr('data-id'),{
            styleid: '0',
            client_id: '<%=youku_client_id%>',
            vid: self.attr('data-id')
            });
        }

        var videoDom;
        var videoHtml;

        function stopBackgroundMusic(e){
            if(e)e.stopPropagation();
            if(audio&&audio.playing){
                audio.playPause();
            }
        }

        function stopAllMusic(){
            stopBackgroundMusic();
            for(var i in audios){
                if(audios[i].playing){
                    audios[i].playPause();
                }
            }
        }

        var audio=false;
        var contentScrolling=false;
        var maxfov=120,fov=120,minfov=120;

        var result_wrap=$('#result-wrap');
        if(checkMobile()){
            maxfov=100;
            fov=100;
            minfov=100;

            $('#music-details').on('touchend',hideDetails);
            $('#music-more').on('touchstart',moreInfo);
            $('#music-info').on('touchstart',nothing);
            $('#music-album').on('touchstart',nothing);

            $('#search').on('touchend',clearSearch);
            $('#btn-search').on('touchend',function(){hideDetails();
                $('#introduction-wrap').removeClass('show');
                hideOthers();
            search($('#search').val());});
            $('.tab').on('touchstart',switchTab);
            $('#result-content').on('touchstart',function(){contentScrolling=true;});
            $('#result-content').on('touchend',function(){contentScrolling=false;});
            $('#magnifier').on('touchstart',magnifierClick);
            $('.about').on('touchend',showAbout);
            $('.volunteer').on('touchend',showVolunteer);

            $('.play-pauseZ').on('touchend',nothing);
            $('.play-pauseZ').on('touchstart',nothing);
            $('.scrubberZ').on('touchend',nothing);
            $('.scrubberZ').on('touchstart',nothing);

            $('.help').on('touchend',showHelp);
            result_wrap.delegate('.result-video','click',showIframe);
            result_wrap.delegate('.result-audio','click',stopBackgroundMusic);
        }else{
            $('#music-details').on('mouseup',hideDetails);
            $('#music-more').on('mouseup',moreInfo);
            $('#music-album').on('mouseup',nothing);
            $('#search').on('mouseup',clearSearch);
            $('#btn-search').on('mouseup',function(){hideDetails();
                $('#introduction-wrap').removeClass('show');
                hideOthers();
            search($('#search').val());});
            $('.tab').on('mouseup',switchTab);
            $('#magnifier').on('mouseup',magnifierClick);
            $('.about').on('mouseup',showAbout);
            $('.volunteer').on('mouseup',showVolunteer);
            $('.help').on('mouseup',showHelp);
            result_wrap.delegate('.result-video','click',showIframe);
            result_wrap.delegate('.result-audio','click',stopBackgroundMusic);
        }

        function randomPlay(){
             hideDetails();
             setTimeout(function(){
                 var random=Math.random()*$('.music-content').size();
                 var content=$('.music-content').eq(random);
                 pano.setRxRy(content.attr('rx')*-1,content.attr('ry'),1);
                 musicClick(content);
             },300);
        }

        function musicClick(content){
            stopAllMusic();
            hideOthers();
            hideIntroduction();
            $('#search-wrap').removeClass('show');
            $('#result-wrap').removeClass('show');
            setTimeout(function(){
                $('#music-album').css('background-image','url('+content.attr('picture_small')+')');
                $('#music-album-full').css('background-image','url('+content.attr('picture_big')+')');
                $('#music-songname').text(content.attr('songname'));
                $('#music-albumname').text(content.attr('albumname'));
                $('#music-singer').text(content.attr('singer'));
                $('#music-details').addClass('show');
            },300);
            if(!audio){
                audio=audiojs.create($('#audio')[0], {
                    css: false,
                    createPlayer: {
                      markup: false,
                      playPauseClass: 'play-pauseZ',
                      scrubberClass: 'scrubberZ',
                      progressClass: 'progressZ',
                      loaderClass: 'loadedZ',
                      timeClass: 'timeZ',
                      durationClass: 'durationZ',
                      playedClass: 'playedZ',
                      errorMessageClass: 'error-messageZ',
                      playingClass: 'playingZ',
                      loadingClass: 'loadingZ',
                      errorClass: 'errorZ'
                    },
                    trackEnded:function(){
                        randomPlay();
                    }
                });
                audio.load(content.attr('audio_url'));
                audio.playPause();
            }else{
                audio.load(content.attr('audio_url'));
                audio.playPause();
                audio.playPause();
                if(!audio.playing){
                    audio.playPause();
                }
            }
        }

        pano.init({
            dom   : $('#pano'), // Panorama dom
            maxfov: maxfov,     // Max field of view
            minfov: minfov,     // Min field of view
            fov   : fov,        // Default field of view

            musicClick:musicClick,

            autoRotate: 0.1,

            mode      : 'viewer'

        });
</script>

</html>
