<html>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content=" user-scalable=no, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="Calculon 0x00111111@gmail.com">
    <head>
        <link rel="stylesheet" type="text/css" href="css/mclassical.css">
        <script>var log=console.log.bind(console);</script>
        <script type="text/javascript" src="http://player.youku.com/jsapi">
</script>
        <script src='js/mclassical-base.js?version=<%=version%>'></script>
        <title>古典音乐放大镜</title>
        <style>
        .buttons{
            display:-webkit-box;
            -webkit-box-orient:horizontal;
            width:100%;
        }
        .buttons .btn-rating-positive,.buttons .btn-rating-negative{
            -webkit-box-flex:1;
            background-color:#fff;
            font-size:12px;
            text-align:center;
            height:30px;
            width:2000px;
            line-height:30px;
        }
        .buttons .btn-rating-positive{
            background-color:#9CD082;
        }
        .buttons .btn-rating-negative{
            background-color:#D08282;
        }
        .rating-title{
            position:relative;
        }
        .contributes-wrap{
            right:10px;
            position:absolute;
            height:30px;
            top:0;
        }
        </style>
    </head>
<body>
        <span id="__getwidth"></span>
        <div id="head">
            <div id="logo">
            <div id="magnifier" style="background-image:url(<%=wechat_info.headimgurl%>)">
                <div id="stick">
                </div>
            </div>
            </div>
            <div id="search-wrap" class="start">
                <div class="rating-title">
                    <%=wechat_info.nickname%>
                    <div class="contributes-wrap">
                    贡献值:<w class="contributes"><%=contributionValue%></w>
                    </div>
                </div>
            </div>
            <div id="result-wrap">
                <div id="result-stick"></div>
                <div id="result">
                    <div class="tabs">
                        <div data-type="audios" class="tab selected">音频审核</div>
                        <div data-type="synonyms" class="tab">同义词管理</div>
                        <div data-type="databases" class="tab">数据库管理</div>
                    </div>
                    <div id="result-content">
                    </div>
                </div>
            </div>
            <div id="introduction-wrap">
                <div id="introduction-stick">
                </div>
                <div id="introduction">
                    <div id="introduction-title"></div>
                    <div id="introduction-content">
                    </div>
                </div>
            </div>
            <div class="nav-wrap rating">
                <div class="nav-stick">
                    审计
                </div>
            </div>
            <div class="nav-wrap help">
                <div class="nav-stick">
                    帮助文档
                </div>
            </div>
            <div class="nav-wrap home">
                <div class="nav-stick" onclick="location.href='/'">
                    返回首页
                </div>
            </div>
        </div>

</body>
<script src="/js/template-native.js"></script>
<script id="template-results" type="text/html">
    <#if(
    (scores==undefined||(scores&&scores.length==0))&&
    (videos==undefined||(videos&&videos.length==0))&&
    (audios==undefined||(audios&&audios.length==0))){#>
        No Results
    <#}#>
    <#for(var i in scores){#>
        <a class="result-score" target="_Blank" href="<#=scores[i].link#>" data-source="<#=scores[i].source#>"><#=scores[i].title#></a>
    <#}#>
    <#for(var i in videos){#>
        <div class="result-video" data-id="<#=videos[i].id#>" target="_Blank" data-title="<#=videos[i].title#>" data-source="<#=videos[i].source#>" data-link="<#=videos[i].link#>" >
            <div class="result-video-title" onclick="window.open('<#=videos[i].link#>')"><#=videos[i].source#> </div>
            <div class="video-wrap">
                <img width="<#=ratio#>%" src="<#=videos[i].thumbnail#>">
                <div class="video-info">
                    <#=videos[i].title#>
                </div>
            </div>
        </div>
    <#}#>
    <#for(var i in audios){#>
        <a class="result-audio"  target="_Blank" data-id="<#=audios[i].id#>" data-source="<#=audios[i].source#>">
            <div class="result-audio-title" onclick="window.open('<#=audios[i].song_link#>')"><#=audios[i].source#> </div>
            <div style="display:-webkit-box;-webkit-box-orient:horizontal;padding:10px;width:100%;box-sizing:border-box;">
                <img class="result-audio-img" width="150" height="150" src="<#=audios[i].album_big#>">
                <div class="audio-info">
                    <div><#=audios[i].song_name#></div>
                    <div><#=audios[i].album_name#></div>
                    <div><#=audios[i].player#></div>
                </div>
            </div>
                 <div class="audiojsZ">
                    <audio data-url="<#=audios[i].url#>" preload="false"></audio>
                    <div class="play-pauseZ">
                      <p class="playZ"></p>
                      <p class="pauseZ"></p>
                      <p class="loadingZ"></p>
                      <p class="errorZ"></p>
                    </div>
                    <div class="scrubberZ inresult">
                      <div class="progressZ"></div>
                      <div class="loadedZ"></div>
                    </div>
                    <div class="timeZ" style="display:none">
                      <em class="playedZ">00:00</em>/<strong class="durationZ">00:00</strong>
                    </div>
                    <div class="error-messageZ"></div>
                 </div>
            <div class="buttons">
                <div class="btn-rating btn-rating-negative">不相关</div>
                <div class="btn-rating btn-rating-positive">相关</div>
            </div>
        </a>
    <#}#>
</script>
<script src="js/audio.min.js"></script>
<script id="template-youku" type="text/html">
    <div id="youkuplayer<#=youku_id#>" style="height:<#=height#>px;width:100%;display:block;"></div>
</script>
<script>
        template.config('openTag','<#');
        template.config('closeTag','#>');

        var height=window.innerHeight;
        var width=window.innerWidth;
        $('#result').width(width-11);
        $('#result').height(height-100);
        $('#introduction').width(width-11);
        $('#introduction').height(height-100);

        $('#search-wrap').removeClass('start');
        $('#search-wrap').addClass('show');

        function getCandidates(){
            for(var i in audios){
                audios[i].pause();
            }
            audios=[];
            $('#result-content').html('<div id="result-loading-wrap"><div id="result-loading"></div></div>');
            $.ajax({
                url:'/rating/candidates',
                type:'get',
                async:false,
                data:{
                    type:$('.tab.selected').attr('data-type')
                },
                timeout:6000,
                success:function(res){
                    if(res.code!=0){
                        alert(res.msg);
                        return;
                    }
                    res.ratio=(width-11-10)/200*100;
                    $('#result-content').html(template('template-results',res));
                    bindClick($('.btn-rating'),sendCandidates);
                    if($('.tab.selected').attr('data-type')=='audios'){
                        $('#result-content').find('audio').each(function(){
                            audios[$(this).attr('data-url')]=audiojs.create($(this)[0], {
                                preload:false,
                                css: false,
                                createPlayer: {
                                  markup: false,
                                  playPauseClass: 'play-pauseZ',
                                  scrubberClass: 'scrubberZ',
                                  progressClass: 'progressZ',
                                  loaderClass: 'loadedZ',
                                  timeClass: 'timeZ',
                                  durationClass: 'durationZ',
                                  playedClass: 'playedZ',
                                  errorMessageClass: 'error-messageZ',
                                  playingClass: 'playingZ',
                                  loadingClass: 'loadingZ',
                                  errorClass: 'errorZ'
                                }
                            });
                        });
                    }
                },
                error:function(){
                    $('#result-content').html('功能暂未开放');
                }
            });
        }

        var audios={};

        function nothing(e){
            e.stopPropagation();
        }

        function switchTab(){
            if(contentScrolling)return;
            $('.tab').removeClass('selected');
            $(this).addClass('selected');
            getCandidates();
        }
        function showNavs(){
            var delay=0;
            $('.nav-wrap').each(function(){
                var self=$(this);
                setTimeout(function(){
                    self.addClass('show');
                },delay);
            });
            //$('#result-wrap').removeClass('show');
        }
        $('#result-wrap').addClass('show');
        function hideNavs(){
             var delay=0;
             $('.nav-wrap').each(function(){
                 var self=$(this);
                 setTimeout(function(){
                     self.removeClass('show');
                 },delay);
             });
        }
        $('#logo').addClass('click');
        function magnifierClick(){
            $('#logo').removeClass();
            $('#logo')[0].offsetWidth=$('#logo')[0].offsetWidth;
            $('#logo').addClass('click');
            $('#input-search').blur();
            if($('.nav-wrap').hasClass('show')){
                hideNavs();
            }else{
                $('#search-wrap').addClass('show');
                showNavs();
            }
        }

        function hideIntroduction(){
            $('#introduction-wrap').removeClass('show');
        }
        function showRating(){
            log("#");
            hideNavs();
            if($('#result-wrap').hasClass("show")){
                return;
            }
            $('#introduction-wrap').removeClass('show');
            setTimeout(function(){
                    $('#result-wrap').addClass('show');
            },400);
        }
        function showHelp(){
            log("!");
            hideNavs();
            if($('#introduction-wrap').hasClass("show")){
                return;
            }
            $('#result-wrap').removeClass('show');
            setTimeout(function(){
            $('#introduction-title').text('帮助文档');
            $('#introduction-wrap').addClass('show');
            $('#introduction-content').html('概念:</br>1)</br>');
            },400);
        }

        function hideAll(){
            hideNavs();
            hideIntroduction();
            $('#result-wrap').removeClass('show');
        }

        function showIframe(){
            stopBackgroundMusic();
            if($(this).hasClass('playing')){
                return;
            }
            if(videoDom){
                videoDom.removeClass('playing');
                videoDom.html(videoHtml);
            }
            $(this).addClass('playing');
            hideDetails();
            hideNavs();
            var self=$(this);
            videoDom=self;
            videoHtml=self.html();

            parent=$(this).closest('.result-video');
            id=parent.attr('data-id');
            self.html(template('template-youku',{youku_id:id,height:self.height(),width:280}));
            YKU.Player('youkuplayer'+id,{
            styleid: '0',
            client_id: '<%=youku_client_id%>',
            vid: id
            });
        }

        var videoDom;
        var videoHtml;

        function stopBackgroundMusic(e){
            if(e)e.stopPropagation();
            if(audio&&audio.playing){
                audio.playPause();
            }
        }

        var audio=false;
        var contentScrolling=false;

        var bodyDom=$('body');
        var result_wrap=$('#result-wrap');
        function sendCandidates(){
            var father=$(this).closest('.result-audio');
            var show=$(this).hasClass('btn-rating-negative')?-1:1;
            if(!$(this).hasClass('confirm')){
                $(this).addClass('confirm');
                $(this).text($(this).text()+'吗?');
                return;
            }
            var data={
                type:'audios',
                show:show,
                ids:'["'+father.attr('data-id')+'"]'
            }
            $.ajax({
                url:'/rating/candidates',
                type:'post',
                data:data,
                async:false,
                success:function(r){
                    if(r.code!=0){
                        alert(r.msg);
                        return;
                    }
                    $('.contributes').text(parseInt($('.contributes').text())+parseInt(r.contribute_value));
                    father.remove();
                    if($('.result-audio').size()<5){
                        getCandidates();
                    }
                }
            });
        }

        if(checkMobile()){

            bindClick($('.tab'),switchTab);

            bindClick($('#magnifier'),magnifierClick);
            bindClick($('.help'),showHelp);
            bindClick($('.rating'),showRating);

            bindClick($('.video-wrap'),showIframe,result_wrap,'.video-wrap');
            bindClick($('.result-audio'),stopBackgroundMusic,result_wrap,'.result-audio');

            $('#result-content').on('touchstart',function(){contentScrolling=true;});
            $('#result-content').on('touchend',function(){contentScrolling=false;});

            $('.play-pauseZ').on('touchend',nothing);
            $('.play-pauseZ').on('touchstart',nothing);
            $('.scrubberZ').on('touchend',nothing);
            $('.scrubberZ').on('touchstart',nothing);

        }else{
            $('.tab').on('mouseup',switchTab);
            $('#magnifier').on('mouseup',magnifierClick);
            $('.help').on('mouseup',showHelp);
            bodyDom.on('click','.video-wrap',showIframe,true);
            result_wrap.delegate('.result-audio','click',stopBackgroundMusic);
        }
getCandidates();

</script>

</html>
